<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrows</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <%- include('../partials/_navbar') %>

    <%- include('../partials/_searchbar'); %>

    <div class="container">
        <div class="row">
            <% borrows.forEach(borrow => { 
                // Datum nach Ablauf prüfen und farbe ändern
                const endDate = new Date(borrow.end);
                const currentDate = new Date();
                const isOverdue = endDate < currentDate;
            %>
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="card-title">Benutzer: <%= borrow.userid %></h5>
                            <p>Startdatum: 
                                <span class="card-date"><%= borrow.start %></span></p>
                            <p>Enddatum: 
                                <span class="card-date"style="<%= isOverdue ? 'color: red;' : '' %>">
                                    <%= borrow.end %>
                                </span>
                            </p>
                            <!-- Bearbeiten Button -->
                            <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#editForm" aria-expanded="false" aria-controls="editForm">
                                Bearbeiten
                            </button>

                            <!-- Löschen Formular -->
                            <form action="/borrows/<%= borrow.id %>?_method=DELETE" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <button type="submit" class="btn btn-danger">Rückgabe</button>
                            </form>

                            <!-- Bearbeiten Formular -->
                            <div class="collapse" id="editForm">
                                <div class="card card-body">
                                        <h5>Artikel bearbeiten</h5>
                                        <form action="/borrows/<%= borrow.id %>?_method=PUT" method="POST"> <!-- _method=PUT -->
                                            <input type="hidden" name="_method" value="PUT">
                                            <div class="form-group">
                                                <label for="title">User ID</label>
                                                <input type="text" id="userid" name="userid" class="form-control" value="<%= borrow.userid%>" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="equipmentid">Equipment ID</label>
                                                <input type="text" id="equipmentids" name="equipmentids[]" value="<%= borrow.equipmentids %>" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="equipmentid">Ausleihdatum</label>
                                                <input type="text" id="start" name="start" value="<%= borrow.start %>" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="equipmentid">Rückgabedatum</label>
                                                <input type="text" id="end" name="end" value="<%= borrow.end%>" required>
                                            </div>
                                            <button type="submit" class="btn btn-primary">Aktualisieren</button>
                                            <button type="button" class="btn btn-secondary" data-bs-toggle="collapse" data-bs-target="#editForm">Abbrechen</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>

    <%- include('../partials/_footer'); %>

    <script src="/javascripts/bootstrap.min.js"></script>

    <script>
        function returnBorrow(id) {
            console.log(`Rückgabe für Ausleihe mit ID: ${id}`); // Debugging-Log
            fetch(`/borrows/${id}`, {
                method: 'DELETE'
            })
            .then(response => {
                window.location.reload();
            });
        }
    </script>

</body>
</html>