<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Benutzer</title>
    <link rel="stylesheet" TYPE="text/css" href="/stylesheets/style.css">
    <link  rel="stylesheet" TYPE="text/css" href="/stylesheets/bootstrap.min.css">
</head>
<body>
    <%- include('../partials/_navbar'); %>

    <%- include('../partials/_searchbar'); %>

    <div class="container mt-5">
        <div class="row">

            <% users.forEach(user => { %>
            <div class="col-md-4 mb-4">
                <div class="card card-custom" >
                    <img src="<%= user.image %>" class="card-img-top" alt="...">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title"><%= user.username %></h5>
                        <p class="card-text"><%= user.email %></p>
                        <a href="/users/<%= user.id %>" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
            <% }); %>

        </div>
    </div>

    <a class="btn btn-primary" href="/users/newUser" role="button">Registrieren</a>

    <%- include('../partials/_footer'); %>

    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>